.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.ilg
*.lof
*.log
*.lot
*.nlo
*.nls
*.out
*.pdf
*.toc
*.run.xml
*.bib
article1/
article2/
article3/
abstract*
acknowledgements.tex
discussion.tex
introduction.tex
!main.pdf